.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
    margin-top: var(--vertical-margin);
    margin-bottom: var(--vertical-margin);
}