.filters {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: var(--secondary-background-color);
    border-radius: var(--border-radius);
}

/* small tablets */
@media screen and (min-width: 620px) {
    .form {
        flex-basis: 75%;
    }

    .filters {
        flex-direction: row;
    }
}

/* large tablets and laptops */
@media screen and (min-width: 960px) {
    .form {
        flex-basis: 50%;
    }
}

/* desktops */
@media screen and (min-width: 1200px) {
    .form {
        flex-basis: 25%;
    }
}