details summary {
    list-style-type: none;
}

details summary::marker {
    display: none;
}

.timeslot-group-visible {
    margin-top: var(--vertical-margin);
    margin-bottom: var(--vertical-margin);
    background-color: var(--secondary-background-color);
    border-radius: var(--border-radius);
}

.timeslot-group-hidden {
    margin-top: var(--vertical-margin);
    margin-bottom: var(--vertical-margin);
    background-color: var(--secondary-background-color);
    border-radius: var(--border-radius);
}

.timeslot-group-title {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--secondary-background-color);
    border-radius: var(--border-radius);
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition: border-color 0.25s;
}

.timeslot-group-title:hover {
    cursor: pointer;
    border-color: var(--secondary-color);
}

.timeslot-group-title:focus,
.timeslot-group-title:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.timeslot-group-name {
    margin-left: var(--horizontal-margin);
    margin-right: var(--horizontal-margin);
    font-size: 1.25em;
}

.timeslot-group-room-count {
    margin-left: var(--horizontal-margin);
    margin-right: var(--horizontal-margin);
}

.timeslot-group-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.content-visible-indicator {
    padding-top: 1.5vh;
    height: 1.25em;
    width: 1.25em;
    transform: rotate(-90deg);
    transform-box: fill-box;
    transform-origin: center;
    fill: var(--primary-color);
}

.content-hidden-indicator {
    padding-top: 1.5vh;
    height: 1.25em;
    width: 1.25em;
    fill: var(--primary-color);
}

.timeslot {
    margin: var(--horizontal-margin);
}

.timeslot-room {
    font-size: 1.1em;
}

/* small tablets */
@media screen and (min-width: 620px) {
    .timeslot-group-content {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .timeslot {
        flex-grow: 1;
        flex-shrink: 1;
    }
}

/* large tablets and laptops */
@media screen and (min-width: 960px) {

}

/* desktops */
@media screen and (min-width: 1200px) {

}

/* medium desktops */
@media screen and (min-width: 1600px) {

}

/* large desktops */
@media screen and (min-width: 1920px) {
    
}