details summary {
    list-style-type: none;
}

details summary::marker {
    display: none;
}

.timeslot-group-visible {
    margin-top: var(--vertical-margin);
    margin-bottom: var(--vertical-margin);
    background-color: var(--secondary-background-color);
    border-radius: var(--border-radius);
}

.timeslot-group-hidden {
    margin-top: var(--vertical-margin);
    margin-bottom: var(--vertical-margin);
    background-color: var(--secondary-background-color);
    border-radius: var(--border-radius);
}

.timeslot-group-title {
    display: flex;
    justify-content: space-between;
    margin-left: var(--horizontal-margin);
    margin-right: var(--horizontal-margin);
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.timeslot-group-title:hover {
    cursor: pointer;
}

.timeslot-group-name {
    font-size: 1.25em;
}

.timeslot-group-content {
    display: flex;
    flex-direction: column;
}

.content-visible-indicator {
    padding-top: 1.5vh;
    height: 1.25em;
    width: 1.25em;
    transform: rotate(-90deg);
    transform-box: fill-box;
    transform-origin: center;
    fill: var(--primary-color);
}

.content-hidden-indicator {
    padding-top: 1.5vh;
    height: 1.25em;
    width: 1.25em;
    fill: var(--primary-color);
}

.timeslot {
    margin: var(--horizontal-margin);
}

.timeslot-room {
    font-size: 1.1em;
}