.header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    top: 0;
    padding: 1vh 3vw;
    background-image: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}

.logo {
    font-size: 1.5em;
    align-self: center;
    text-wrap: nowrap;
}

.credits {
    width: 2em;
    height: 2em;
    align-items: stretch;
}

img {
    width: 100%;
    height: 100%;
}

/* small tablets */
@media screen and (min-width: 620px) {
    .header {
        flex-wrap: nowrap;
        padding: 1vh 3vw;
    }

    .logo {
        font-size: 2em;
    }

    .credits {
        width: 2.5em;
        height: 2.5em;
    }
}