.header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    top: 0;
    padding: 2vh;
    background-image: var(--primary-color);
    color: var(--secondary-text-color);
}

.logo {
    font-size: 1.5em;
    align-self: center;
    margin-left: 2.5vw;
    text-wrap: nowrap;
}

.credits {
    width: 2em;
    height: 2em;
    margin-right: 2.5vw;
    align-items: stretch;
}

img {
    width: 100%;
    height: 100%;
}

/* small tablets */
@media screen and (min-width: 620px) {
    .header {
        flex-wrap: nowrap;
    }

    .logo {
        font-size: 2em;
    }

    .credits {
        width: 3.5em;
        height: 3.5em;
        margin-right: 3em;
    }
}

/* large tablets and laptops */
@media screen and (min-width: 960px) {
    
}

/* desktops */
@media screen and (min-width: 1200px) {
    
}