.introduction {
    margin-top: var(--vertical-margin);
    margin-bottom: var(--vertical-margin);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: var(--horizontal-margin);
    margin-right: var(--horizontal-margin);
}

/* small tablets */
@media screen and (min-width: 620px) {
    
}

/* large tablets and laptops */
@media screen and (min-width: 960px) {
    
}

/* desktops */
@media screen and (min-width: 1200px) {
    
}