.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.introduction {
    margin-top: var(--vertical-margin);
    margin-bottom: var(--vertical-margin);
    margin-left: var(--horizontal-margin);
    margin-right: var(--horizontal-margin);
}

.main {
    display: flex;
    margin-left: var(--horizontal-margin);
    margin-right: var(--horizontal-margin);
}